<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
    <listener class-name="Utility.ExtendedReport"/>
  </listeners>
	
  <test name="Test">
  <parameter name="url" value="https://www.zigwheels.com/" />
  <parameter name="browser" value="chrome" />

    <classes>
      <class name="main.TestCases"/>
    </classes>
    
  </test> <!-- Test -->
</suite> <!-- Suite -->
